-@tweet.comments.each do |comment|
  %ol
    %li=comment.content
= error_messages_for @tweet
= form_for(Comment.new, :action=>url(:comments) ) do
  %p
    = hidden_field :name=>'tweet', :value=>@tweet.id
    = text_area :content, :class=>"comment", :row=>"5", :cols=>"80"
  %p
    = submit "Comment"
= link_to 'Back', url(:tweets)
