= text_area :content, :size=>40, :rows=>2, :cols=>105, :class => 'status-box'
= label 'Tag: ', :for => "tweet_tag_list", :class => 'label'
= text_field :tag_list, :value => ''
= label 'Attach: ', :for => "tweet_file", :class => 'label'
= file_field :file
= submit action, :class => 'status-button'
