- for message in messages
  %li.message
    %span.imgn
      = image_tag message.made_by.image.url(:thumb), :height=>'50px'
    %span.body
      %strong
        = link_to message.made_by.nick, url(:profile, message.made_by.nick)
      %span.content
        = message.excerpt
      %span.meta
        = image_tag 'tag_blue.png', :class => 'action-icon'
        = message.tags.empty? ? "None" : message.tag_list.join(', ') 
        %br
        = image_tag('comment.png', :class => 'action-icon')
        = message.comments.empty? ? "0 Comment" : "#{message.comments.count} Comments"
        = image_tag('attach.png', :class => 'action-icon')
        = message.file? ? "1 Attachment" : "No Attachment"
    %span.actions
      = link_to(image_tag('application_edit.png', :class => 'action-icon', :title => 'Comment, Tag and much More'), url(:tweet, message))
      %br
      = link_to(image_tag('email.png', :class => 'action-icon', :title => 'Email this Message'))
      %br
      - if session.user.id == message.made_by_id
        = link_to(image_tag('icon_trash.gif', :class => 'action-icon', :title => 'Delete this Message'), url(:delete_tweet, message))
