- for message in messages
  %li.status
    %span.imgn
      = image_tag message.made_by.image.url(:thumb), :height=>'50px'
    %span.body
      -if message.made_by.nick
        %strong
          = link_to message.made_by.nick, url(:profile, message.made_by.nick)
      %span.content
        = message.excerpt
      %span.meta
        - if not message.tags.empty?
          == Tags:- 
          - message.tag_list.each do |tag|
            = tag
          %br
        == #{message.comments.count} Comments
        - if message.file?
          = link_to "1 Attachment", message.file.url
    %span.actions.hidden
      = link_to 'More', url(:edit_tweet, message)
      %br
      - if session.user.id == message.made_by_id
        = link_to 'Delete', url(:delete_tweet, message)
