- for message in messages
  %li.status
    %span.imgn
      = image_tag message.made_by.image.url(:thumb), :height=>'50px'
    %span.body
      -if message.made_by.nick
        %strong
          = link_to message.made_by.nick, url(:profile, message.made_by.nick)
      %span.content
        = message.excerpt
      %span.meta
        - if not message.tags.empty?
          = image_tag 'tag_blue.png'
          = message.tag_list.join(',')
        - if not message.comments.empty?
          = link_to(image_tag('comment.png', :class => 'action-icon', :title => message.comments.count))
        - if message.file?
          = link_to "1 Attachment", message.file.url
    %span.actions
      = link_to(image_tag('application_edit.png', :class => 'action-icon', :title => 'Comment, Tag and much More'), url(:edit_tweet, message))
      %br
      = link_to(image_tag('email.png', :class => 'action-icon', :title => 'Email this Message'))
      %br
      - if session.user.id == message.made_by_id
        = link_to(image_tag('icon_trash.gif', :class => 'action-icon', :title => 'Delete this Message'), url(:delete_tweet, message))
