%ul.nav-panel
  %li.nav-panel
    = link_to 'Home', url(:tweets)
    &nbsp
  %li.nav-panel
    = link_to "@#{session.user.nick}", url(:replies)
    &nbsp
  %li.nav-panel
    = link_to 'My Groups', url(:groups, :user_id => session.user.id)
    &nbsp
  %li.nav-panel
    = link_to 'My Polls', url(:polls, :user_id => session.user.id)
