%form{:method => 'POST', :action => url(:search)}
  %input{:type => 'text', :name => 'search'}
  %ul.search-options.no-bullets
    %li
      %input{:type => 'checkbox', :name => 'search-tag', :value => 'tag', :title => 'Tag'}
      == Only Tags
    %li
      %input{:type => 'checkbox', :name => 'search-group', :value => 'group', :title => 'Group'}
      == Only Groups
    %li
      %input{:type => 'checkbox', :name => 'search-all', :value => 'all', :title => 'All'}
      == Everything

%ul.no-bullets
  %li
    = link_to 'Home'
  %li
    = link_to "@#{session.user.nick}", url(:replies)
  %li
    = link_to 'My Groups', url(:groups, :user_id => session.user.id)
  %li
    = link_to 'My Polls', url(:polls, :user_id => session.user.id)
