%div.tweet
  %div.user
    %div.image
      = image_tag @tweet.user.image.url(:thumb), :height=>'100px'
    %p#login
      = @tweet.user.login
  %div.content
    %p.content
      = @tweet.content
  %div.tags
    -@tweet.tags.each do |tag|
      =tag.name
  %div.extra
    == #{@tweet.comments.count} Comments
    - if @tweet.file?
      == Attachments
.comment
  %h3 Comments
  -@tweet.comments.each do |comment|
    %ol
      %li=comment.content
  = error_messages_for @tweet
  = form_for(Comment.new, :action=>url(:comments) ) do
    %p
      = hidden_field :name=>'tweet', :value=>@tweet.id
      = text_area :content, :class=>"comment", :row=>"5", :cols=>"80"
    %p
      = submit "Comment"
.attachment
  = form_for(@tweet, :action=>resource(@tweet), :html =>'multiparttrue') do
    %p
      = file_field :file
    %p
      = submit "Attach File"

= link_to 'Back', url(:tweets)
