.message
  %h3 Tweet
  = image_tag @tweet.made_by.image.url(:thumb), :height=>'50px', :align => 'left'
  %span.body
    %strong
      = @tweet.made_by.nick
    %span.content
      = @tweet.content
    %span.actions
      = link_to 'Delete', url(:delete_tweet, @tweet)
.tags
  %h5.heading Tags
  = image_tag 'tag_blue.png', :class => 'action-icon'
  - if @tweet.tags
    = @tweet.tag_list.join(', ')
  = form_for(@tweet, :action => url(:tag_tweet, @tweet)) do
    = text_field :tag_list, :value => ''
    = submit "Tag", :class => 'button'

.comment
  %h3 Comments
  = render :template => 'comments/index', :layout => false
.attachment
  %h3 Attachments
  = form_for(@tweet, :action => url(:tweet, @tweet), :html =>'multiparttrue') do
    %p
      = file_field :file
    %p
      = submit "Attach File"
  - if @tweet.file?
    = @tweet.file_file_name

= link_to 'Back', url(:tweets)
