=@tweet.content
%br
-@tweet.comments.each do |comment|
  =comment.content
= error_messages_for @tweet

= form_for(@comment, :action=>url(:comments) ) do
  %p
    = hidden_field :name=>'tweet', :value=>@tweet.id
    = text_field :name=>'comment'
  %p
    = submit "Comment"

= link_to 'Show', url(:tweet, @tweet)
|
= link_to 'Back', url(:tweets)
