.tweet
  .user
    = image_tag @tweet.made_by.image.url(:thumb), :height=>'50px'
    %span.user-nick
      -if @tweet.made_by.nick
        = @tweet.made_by.nick
  .content
    %p.content
      = @tweet.content
.comment
  %h3 Comments
  = render :template => 'comments/index', :layout => false
.attachment
  %h3 Attachments
  = partial 'attachment'
.tags
  %h3 Tags
