=@tweet.content
%br
-@tweet.comments.each do |comment|
  =comment.content
= error_messages_for @tweet

= form_for(Comment.new, :action=>url(:comments) ) do
  %p
    = hidden_field :name=>'tweet', :value=>@tweet.id
    = text_field :content
  %p
    = submit "Comment"

= form_for(@tweet, :action=>resource(@tweet), :html =>'multiparttrue') do
  %p
    = file_field :file
  %p
    = submit "Attach File"

= link_to 'Show', url('tweets/index')
|
= link_to 'Back', url(:tweets)
