.message
  %h3 Tweet
  .tweet
    %span.imgn
      = image_tag @tweet.made_by.image.url(:thumb), :height=>'50px', :align => 'left'
    %span.body
      %strong
        = @tweet.made_by.nick
      %span.content
        = @tweet.content
      %span.actions
        = link_to 'Delete', url(:delete_tweet, @tweet)
.comment
  %h3 Comments
  = render :template => 'comments/index', :layout => false
.attachment
  %h3 Attachments
  = form_for(@tweet, :action => url(:tweet, @tweet), :html =>'multiparttrue') do
    %p
      = file_field :file
    %p
      = submit "Attach File"
  - if @tweet.file?
    = @tweet.file_file_name
.tags
  %h3 Tags
  = form_for(@tweet, :action => url(:tag_tweet, @tweet), :html =>'multiparttrue') do
    %p
      = text_field :tag_list, :value => ''
    %p
      = submit "Tag"

  - if @tweet.tags
    - @tweet.tag_list.each do |tag|
      = tag
      %br

= link_to 'Back', url(:tweets)
