%h1
  Twitter
%form{:action=>'tweets/create', :method=>'POST'}
  %input{:type=>'text',:name=>'tweet'}
  %input{:type=>'submit',:value=>'Update'}
- for tweet in @tweets
  %div.tweet
    %div.content
      = tweet.content
      %br
      = tweet.user.login
    %div.show
      = link_to 'Show', url(:tweet, tweet)
    %div.edit
      = link_to 'Edit', url(:edit_tweet,  tweet)

= link_to 'New', url(:new_tweet)
