.top-form
  = partial('status')

.updates
  - for tweet in @tweets
    .tweet
      .user
        = image_tag tweet.user.image.url(:thumb), :height=>'50px'
        %span.user-nick
          -if tweet.user.nick
            = tweet.user.nick
      .content
        %p.content
          = tweet.content
        = link_to 'View', url(:edit_tweet,  tweet)
      .tags
        -tweet.tags.each do |tag|
          =tag.name
      .extra
        == #{tweet.comments.count} Comments
        - if tweet.file?
          == Attachments
      %hr
