.top-form
  %h3{:style => "margin-top: 0px; margin-bottom: 0px; padding: 5px;"}
    %span.black
      what are you doing?
  = form_for(@tweet, :action=>url(:tweets), :class=>'form') do
    = partial 'fields', :action => 'update'

%ol.list#updates
  - for tweet in @tweets
    %li
      %span.imgn
        = image_tag tweet.made_by.image.url(:thumb), :height=>'50px'
      %span.body
        -if tweet.made_by.nick
          %strong
            = link_to tweet.made_by.nick, url(:profile, tweet.made_by.nick)
        %span.content
          = tweet.content[0..139]
        %span.meta
          - if not tweet.tags.empty?
            == Tags:- 
            - tweet.tag_list.each do |tag|
              = tag
            %br
          == #{tweet.comments.count} Comments
          - if tweet.file?
            = link_to "1 Attachment", tweet.file.url
      %span.actions
        = link_to 'More', url(:edit_tweet, tweet)
        %br
        - if session.user.id == tweet.made_by_id
          = link_to 'Delete', url(:delete_tweet, tweet)
- throw_content :for_sidebar, partial('sidebar')
