%h3{:style => "margin-top: 0px; margin-bottom: 0px; padding: 5px;"}
  %span.black
    What are you doing?
.top-form
  = partial('status')

%ol.updates
  - for pm in @pms
    %li
      %span.imgn
        = image_tag pm.made_by.image.url(:thumb), :height=>'50px'
      %span.body
        -if pm.made_by.nick
          %strong
            = link_to pm.made_by.nick, url(:user, pm.made_by)
        %span.content
          = pm.content[0..139]
        %span.meta
          - if not pm.tags.empty?
            == Tags:- 
            - pm.tag_list.each do |tag|
              = tag
            %br
          == #{pm.comments.count} Comments
          - if pm.file?
            = link_to "1 Attachment", pm.file.url
      %span.actions
        = link_to 'View', url(:edit_tweet, pm)
        - if session.user.id == pm.can_delete
          = link_to 'Delete', url(:delete_tweet, tweet)
- throw_content :for_sidebar, partial('sidebar')
