- groups.each do |group|
  %li.message
    %span.imgn
      = image_tag group.image.url(:thumb), :height=>'50px'
    %span.body
      %strong
        = link_to group.name, url(:group, group)
      %span.content
        = group.description[0..139]
      %span.meta
        = image_tag 'tag_blue.png', :class => 'action-icon'
        = group.tags.empty? ? "None" : group.tag_list.join(', ') 
        %br
        = group.protected? ? "#{image_tag 'lock.png', :class => 'action-icon'} Closed" : "#{image_tag 'lock_open.png', :class => 'action-icon'} Open"
        = image_tag 'user_red.png', :class => 'action-icon', :title => 'Moderators'
        = ( group.moderators.collect { |moderator| link_to moderator.nick, url(:profile, moderator.nick) } ).join(', ')
    %span.actions
      = link_to(image_tag('application_edit.png', :class => 'action-icon'), url(:group, group), :title => 'View')
      %br
      = link_to(image_tag('user_add.png', :class => 'action-icon'), url(:join, group), :title => 'Join the Group')
