%h1
  Groups controller, edit action
%p
  Edit this file in
  %tt
    app/views/groups/edit.html.erb
= error_messages_for @group

= form_for(@group, :action => url(:group, @group)) do
  %p
    = submit "Update"

= link_to 'Show', url(:group, @group)
|
= link_to 'Back', url(:groups)