%ol.groups
  - @groups.each do |group|
    %li
      %span.imgn
        = image_tag group.image.url(:thumb), :height=>'50px'
      %span.body
        %strong
          = link_to group.name, url(:group, group)
        %span.content
          = group.description
        %span.meta
          = link_to 'View',  url(:group, group)
          - group.tags.each do |tag|
            =tag.name
          = group.protected? ? 'Private': 'Open'
      %span.actions
        = link_to 'Join', url(:join, session.user, group)
        = link_to 'Leave', url(:leave, session.user, group)

- throw_content :for_sidebar, partial('sidebar')
