%ol.list
  - @groups.each do |g|
    %li
      %span.imgn
        = image_tag g.image.url(:thumb), :height=>'50px'
      %span.body
        %strong
          = link_to g.name, url(:group, g)
        %span.content
          = g.description
        %span.meta
          = link_to 'View',  url(:group, g)
          - g.tags.each do |tag|
            =tag.name
          = g.protected? ? 'Private': 'Open'
      %span.actions
        = link_to 'Join', url(:join, session.user, g)
        = link_to 'Leave', url(:leave, session.user, g)

- throw_content :for_sidebar, partial('sidebar')
