%h3 Group
.group
  %span.imgn
    = image_tag @group.image.url(:thumb), :height=>'50px'
  %span.body
    %strong
      = link_to @group.name, url(:group, @group)
    %span.content
      = @group.description
    %span.meta
      = link_to 'View',  url(:group, @group)
      - @group.tags.each do |tag|
        =tag.name
  %span.actions
    = link_to 'Join'
- throw_content :for_sidebar, partial('sidebar')
