%h3 Group
.group
  %span.imgn
    = image_tag @group.image.url(:thumb), :height=>'50px'
  %span.body
    %strong
      = @group.name
    %span.content
      = @group.description
    %span.meta
      == Owner:- #{link_to @group.owner.nick, url(:profile, @group.owner.nick)}
      = @group.protected? ? 'Moderated': 'Open'
      - if @group.protected?
        == Moderators:-
        - @group.moderators.each do |moderator|
          = link_to moderator.nick, url(:profile, moderator.nick)
      - if not @group.tags.nil?
        == Tags:-
        - @group.tag_list.each do |tag|
          = tag
  %span.actions
    = link_to 'Join', url(:join, @group)
%br
- if (session.user.is_subscribed?(@group))
  = partial 'member'

- throw_content :for_sidebar, partial('sidebar')
