%h3 Group
.group
  %span.imgn
    = image_tag @group.image.url(:thumb), :height=>'50px'
  %span.body
    %strong
      = @group.name
    %span.content
      = @group.description
    %span.meta
      - if not @group.tags.nil?
        == Tags:-
        - @group.tag_list.each do |tag|
          = tag
  %span.actions
    = link_to 'Join', url(:join, @group)
%br
- if (session.user.is_subscribed?(@group))
  = partial 'member'

  .tag
    = form_for(@group, :action => url(:tag_group, @group), :html =>'multiparttrue') do
      = text_field :tag_list, :value => ''
      = submit "Tag"
%br
- throw_content :for_sidebar, partial('sidebar')
