%h3 Group
.group
  %span.imgn
    = image_tag @group.image.url(:thumb), :height=>'50px'
  %span.body
    %strong
      = link_to @group.name, url(:group, @group)
    %span.content
      = @group.description
    %span.meta
      - if not @group.tags.nil?
        == Tags:-
        - @group.tag_list.each do |tag|
          = tag
  %span.actions
    = link_to 'Join', url(:join, session.user, @group)
%br
%br
- if session.user.is_moderator? @group
  %table
    %theader These users require your approval
    - @group.users_requiring_approval.each do |user|
      %tr
        %td
          = user.nick
        %td
          = link_to 'Approve', url(:approve, @group, user)

- if session.user.is_subscribed? @group
  .group_messages
    - @group.gms.each do |gm|
      = gm.content

.tag
  = form_for(@group, :action => url(:tag_group, @group), :html =>'multiparttrue') do
    %p
      = text_field :tag_list
    %p
      = submit "Tag"

  - if not @group.tags.nil?
    - @group.tag_list.each do |tag|
      = tag

%br
- throw_content :for_sidebar, partial('sidebar')
