%ol.list.users
  -for user in @users
    %li
      %span.imgn
        = image_tag user.image.url(:thumb), :height=>'50px'
      %span.body
        %strong
          = link_to user.name, url(:user, user)
        %span.content
          = user.bio
        %span.meta
      %span.actions
        = link_to(image_tag('user.png', :class => 'action-icon'), url(:user, user), :title => 'Profile')
        %br
        - if session.user == user
          = link_to(image_tag('user_edit.png', :class => 'action-icon'), url(:edit_user, user), :title => 'Edit Profile')

- throw_content :for_sidebar, partial('sidebar')
