.user
  %span
    = image_tag @user.image.url(:thumb), :height=>'60px'
  %span.nick
    %h1{:style => "margin-top: 0px; margin-bottom: 0px; padding: 5px;"}
      = @user.nick

%ol.list#profile
  - for tweet in @tweets
    %li
      %span.body
        %span.content
          = tweet.content
        %span.meta
          - if not tweet.tags.empty?
            == Tags:- 
            - tweet.tag_list.each do |tag|
              = tag
            %br
          == #{tweet.comments.count} Comments
          - if tweet.file?
            = link_to "1 Attachment", tweet.file.url
      %span.actions
        = link_to 'More', url(:edit_tweet, tweet)
        %br
        - if session.user.id == tweet.made_by.id
          = link_to 'Delete', url(:delete_tweet, tweet)

- throw_content :for_sidebar, partial('sidebar')
