!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %title
      = 'Office Twitter' + (catch_content(:title) ? '' : ": #{catch_content(:title)}")
    = css_include_tag :style
    = js_include_tag :jquery
    = js_include_tag :application
    /= css_include_tag :master
  %body
    .container
      .header
        .top-text.round
          %h1{:style => "margin-top: 0px; margin-bottom: 0px;"}
            == Intellecap - KMS
        #header-panel
          - if session.authenticated?
            %ul.nav-panel.round
              %li.nav-panel#header-panel
                = link_to 'Home', url(:tweets), :title => 'Home' 
                &nbsp
              %li.nav-panel#header-panel
                = link_to "@#{session.user.nick}", url(:replies), :title => 'Replies'
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Messages', url(:messages), :title => 'Private and Group Messages'
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Profile', url(:profile, session.user.nick), :title => 'Settings'
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Groups', url(:groups), :title => 'Join, Create or Manage groups' 
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Polls', url(:polls), :title => 'Create, See or Vote on a Poll' 
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Users', url(:users), :title => 'See all the users in your office network' 
                &nbsp
              %li.nav-panel#header-panel
                = link_to 'Logout', url(:logout), :title => 'Logout'

      .body
        .body-left.round
          = catch_content :for_layout
        .body-right.round
          = catch_content :for_sidebar
      .footer.round
        == &copy; 2009 Intellecap &mdash; This software is released under the #{link_to 'GNU Affero General Public License', 'http://www.gnu.org/licenses/agpl.html'}.
