= link_to 'Open Polls', '/polls/'
|
= link_to 'All Polls', '/polls/all'
|
= link_to 'My polls', "/polls/my"
|
= link_to 'Closed Polls', "/polls/closed"
|
= link_to 'New Poll', resource(:polls, "new")
|

