%h1 Edit poll
  
= error_messages_for @poll

= form_for(@poll, :action => url(:poll, @poll)) do
  = partial :fields
  = submit "Update"

= link_to 'Show', url(:poll, @poll)
|
= link_to 'Back', url(:polls)