%h1 
  New choice for poll:
  = @poll.topic


= error_messages_for @poll_choice

= form_for(@poll_choice, :action => resource(@poll, :poll_choices) ) do
  = text_field :text
  %p
    = submit "Create"

= link_to 'Back', resource(@poll, :poll_choices)